{% extends 'base.html.twig' %}


{% block body %}

    <h3> Detalle del Post </h3>

    <table class="table table-striped">

        <thead>
            <tr> 
                <th> ID </th>
                <th> Post </th>            
            </tr>
        </thead>

        <tbody>
            <tr>             
                <td> {{ post.id   }} </td>
                <td> {{ post.title }} </td>
            </tr>
        </tbody>

    </table>

{% endblock %}
